<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../layouts/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <div class="container-xl">
      <!-- Main -->
      <div class="row mb-5">
        <div class="col d-flex justify-content-between text-center card-header">
          <div class="btn-group col-sm-3" role="group">
            <button
              id="btnGroupDrop1"
              type="button"
              class="btn btn-outline-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin Options
            </button>
            <ul
              class="dropdown-menu w-100 text-center"
              aria-labelledby="btnGroupDrop1"
            >
              <li>
                <a class="dropdown-item" href="/users/create-admin"
                  >Create a new Admin</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/users/change-pass"
                  >Change your Password</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/users/delete-admin"
                  >Delete an Admin</a
                >
              </li>
            </ul>
          </div>
          
          <h2 class="col-sm-6 mb-0">Admin Area</h2>
          <a href="/users/logout" class="btn btn-outline-primary col-sm-3"
            >Back to website/Logoff</a
          >
        </div>
        <div
          id="mydiv"
          class="text-center"
          style="position: absolute; top: 70px; left: 0px"
        >
          <h6 style="color: red">
            <%= typeof title === 'undefined' ? "" : title %>
          </h6>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <button
                class="btn btn-outline-primary col-2"
                onclick="previous()"
              >
                <<
              </button>
              <h3 class="col-8 text-center" id="monthAndYear"></h3>
              <button class="btn btn-outline-primary col-2" onclick="next()">
                >>
              </button>
            </div>
            <table class="table table-bordered table-responsive-sm" id="table">
              <thead id="calendar-head"></thead>
              <tbody id="calendar-body"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../layouts/footer'); %>
    <script src="/javascripts/calendar.js"></script>
    <script type="text/javascript">
      var msg = "<%= typeof title === 'undefined' ? '' : title  %>";
      if (msg) {
        $("#mydiv").delay(3000).fadeOut(500);
      }
    </script>
  </body>
</html>
