<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../layouts/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="the-stylist">
    <h1>SIGNUP PAGE (GET)</h1>
    <!-- Footer -->
    <%- include ../layouts/footer %>
  </body>
</html>
